@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --color-hgm-sapphire: #0F2C59;
  --color-hgm-sapphire-light: #1E40AF;
  --color-hgm-crimson: #BE123C;
  --color-hgm-crimson-glow: #FB7185;
  --color-hgm-dark-bg: #0B0F19;
  --color-hgm-cream: #FDFBF7;
  --color-hgm-slate-grey: #64748B;
  --font-sans: "Inter", "SF Pro Display", "sans-serif";
  --font-mono: "Geist Mono", monospace;
}

body {
  font-family: var(--font-sans);
}

@utility prose-hgm {
  --tw-prose-body: var(--color-hgm-slate-grey);
  --tw-prose-headings: var(--color-hgm-sapphire);
  --tw-prose-links: var(--color-hgm-crimson);
  --tw-prose-bold: var(--color-hgm-sapphire);
  color: var(--tw-prose-body);
  max-width: 65ch;
}
